<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="Hl7PackageCollection" type="NHapi.Base.Model.Configuration.HL7PackageConfigurationSection, NHapi.Base" />
  </configSections>
  <Hl7PackageCollection>
    <HL7Package name="jackfacts.HL7.V24" version="2.4" />
  </Hl7PackageCollection>
</configuration>